# Git
git*
.gitignore

# Node modules
node_modules/

# Build artifacts
dist/

# Coverage reports
coverage/

# IDE and editor specific files
.vscode/
.idea/

# Test reports
*.log

# Other development specific files (adjust as needed)
*.test.ts
*.spec.ts
nest-cli.json

# Docker 
dockerfile
.dockerignore